
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot');
    src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.ttf') format('truetype'),
    url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.eot');
    src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.ttf') format('truetype'),
    url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
    font-weight: 600;
    font-style: normal;
}