@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ftl-form__dropdown-field p{
    margin-top: -8px;
  }
  .ftl-form__type-good{
    width: 100%;
    margin-bottom: 10px;
  }
  .ftl-form__col.checkbox{
    width: 100%;
    margin-top: 10px;
  }
}
@media screen and (max-width: 1140px){
  .information {
    position: relative;
    top: 37px;
  }
  .information__body {
    position: relative;
    transform: translateX(0%);
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 400px){
  .h1-title{
    font-size: 32px;
    line-height: 40px;
  }
  .ftl-form__step-val{
    font-size: 20px;
  }
  .mobile-hide{
    display: none;
  }
  .ftl-form__type-good {
    grid-column: auto;
  }

}

@media screen and (max-width: 360px){
  .ftl-form__label-size {
    letter-spacing: -.3px;
    font-size: 12px;
  }

}

