.display-flex-wrap(@flex:flex,@margin:0,@justify-content:flex-start,@align-items:stretch){
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    display: @flex;
    flex-wrap: wrap;
    align-items: @align-items;
    justify-content: @justify-content;
    margin-left: -@margin / 2;
    margin-right: -@margin / 2;
  }
}

.some-wrap {
  .display-flex-wrap();
}

//колонки имеют одинаковую ширину
.display-flex-item(@count:3,@margin:0,@width:calc((100% - ((@margin * @count) + 2px))/@count)){
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    width: @width;
    margin-right: @margin / 2;
    margin-left: @margin / 2;
  }
}
.some-wrap-item {//пример
  .display-flex-item(2,20px);
}

//колонки имеют разную ширину, но последнняя расчитывается исходя из суммы предшествующих
.display-flex-different-item(@count:3,@margin:0,@width_1:0,@width_2:0,@width_3:0,@width_4:0,@width_5:0,
@sumwidth:(@width_1 + @width_2 + @width_3 + @width_4 + @width_5)){
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    flex-shrink: 0;
    &:first-child{

      max-width: @width_1;
    }
    &:nth-child(2){

      max-width: @width_2;
    }
    &:nth-child(3){

      max-width: @width_3;
    }
    &:nth-child(4){

      max-width: @width_4;
    }
    &:nth-child(5){

      max-width: @width_5;
    }
    &:last-child{
      max-width: calc(100% - (@sumwidth - ((@count - 1) * @margin)));

    }
    width: 100%;
    margin-right: @margin / 2;
    margin-left: @margin / 2;
  }
}
.some-wrap-different-item {//пример
  .display-flex-different-item(3, 20px,300px,200px);
}


//колонки имеют разную ширину и последняя задается тоже пользоавателем
.display-flex-diff-item-all-user-width(@margin:0,@width_1:0,@width_2:0,@width_3:0,@width_4:0,@width_5:0){
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    flex-shrink: 0;
    &:first-child{

      max-width: @width_1;
    }
    &:nth-child(2){

      max-width: @width_2;
    }
    &:nth-child(3){

      max-width: @width_3;
    }
    &:nth-child(4){

      max-width: @width_4;
    }
    &:nth-child(5){

      max-width: @width_5;
    }
    width: 100%;
    margin-right: @margin / 2;
    margin-left: @margin / 2;
  }
}
.some-wrap-diff-item {//пример
  .display-flex-different-item(20px,300px,200px);
}
.label-mixin{

}