//Файлы css которые должны подключаться в файл style.css должны хранится в папке partcss
//тут подключаются @import url("../partcss/name.css");
//в

@import url("../partcss/fonts.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  height: 100%;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.wrap {
  font-family: 'HelveticaNeue', sans-serif;
  background-color: #343539;
  font-weight: 400;
  cursor: default;
  font-size: 12px;
  line-height: normal;
  width: 100%;
  //margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}
.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

section,header,footer{
  display: block;
  position: relative;
}

.container {
  zoom: 1;
  width: 100%;
  max-width: 1598px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}



ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img{
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  border: none;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  font-family: 'HelveticaNeue', sans-serif;
}
button:focus{
  outline: none;
}


input:focus, textarea:focus{
  outline: none;
}

///////////////////////////////////////////////////////////////
.pos-absolute(){
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.grid-gap(@count:20px){
  grid-gap:@count;
}
.section-padding(@pad-top:30px,@pad-bot:30px){
  padding-top: @pad-top;
  padding-bottom: @pad-bot;
}
.fonsection(){
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/////////Для эксплорер

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img{
    max-width: 100%;
    height: auto;
  }
}



.display-flex-wrap(@flex:flex,@margin:0,@justify-content:flex-start,@align-items:stretch){
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    display: @flex;
    flex-wrap: wrap;
    align-items: @align-items;
    justify-content: @justify-content;
    margin-left: -@margin / 2;
    margin-right: -@margin / 2;
  }
}



//колонки имеют одинаковую ширину
.display-flex-item(@count:3,@margin:0,@width:calc((100% - ((@margin * @count) + 2px))/@count)){
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    width: @width;
    margin-right: @margin / 2;
    margin-left: @margin / 2;
  }
}


//колонки имеют разную ширину, но последнняя расчитывается исходя из суммы предшествующих
.display-flex-different-item(@count:3,@margin:0,@width_1:0,@width_2:0,@width_3:0,@width_4:0,@width_5:0,
   @sumwidth:(@width_1 + @width_2 + @width_3 + @width_4 + @width_5)){
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    flex-shrink: 0;
    &:first-child{

      max-width: @width_1;
    }
    &:nth-child(2){

      max-width: @width_2;
    }
    &:nth-child(3){

      max-width: @width_3;
    }
    &:nth-child(4){

      max-width: @width_4;
    }
    &:nth-child(5){

      max-width: @width_5;
    }
    &:last-child{
      max-width: calc(100% - (@sumwidth - ((@count - 1) * @margin)));

    }
    width: 100%;
    margin-right: @margin / 2;
    margin-left: @margin / 2;
  }
}



//колонки имеют разную ширину и последняя задается тоже пользоавателем
.display-flex-diff-item-all-user-width(@margin:0,@width_1:0,@width_2:0,@width_3:0,@width_4:0,@width_5:0){
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    flex-shrink: 0;
    &:first-child{

      max-width: @width_1;
    }
    &:nth-child(2){

      max-width: @width_2;
    }
    &:nth-child(3){

      max-width: @width_3;
    }
    &:nth-child(4){

      max-width: @width_4;
    }
    &:nth-child(5){

      max-width: @width_5;
    }
    width: 100%;
    margin-right: @margin / 2;
    margin-left: @margin / 2;
  }
}




/////////////////////////////////////////////////////////

.h1-title{
  color: #FFFFFF;
  font-size: 56px;
  font-weight: 600;
}
.section-ftl{
  .section-padding(44px,50px);
}
.ftl-form{
  position: relative;
  margin-top: 23px;
  width: 100%;
  max-width: 730px;
  &__list{
    &:not(:first-child){
      margin-top: 41px;
    }
  }
  &__step{
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }
  &__step-val{
    font-size: 24px;
    font-weight: 600;
  }
  &__step-number {
    margin-right: 11px;
    font-size: 16px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #EF483E;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__label{
    margin-bottom: 7px;
    display: block;
    &:not(:first-child){
      margin-top: 16px;
    }
  }
  &__label-size{
    font-size: 13px;
    color: #FFFFFF;
  }
  &__full-width{
    width: 100%;
    margin-top:18px;
  }
  input{
    font-family: 'HelveticaNeue', sans-serif;
    position: relative;
    display: block;
    outline: none;
    border: none;
    &:-moz-placeholder { color: #b7bfd2; }
    &::-webkit-input-placeholder { color: #b7bfd2;}
  }
  textarea{

    resize: none;
    outline: none;
  }
  &__small-width{
    width: 100%;
    max-width: 356px;
    margin-top: 18px;
  }
  &__input{
    width: 100%;
    background-color: #fff;
    height: 46px;
    padding-left: 15px;
  }
  &__columns{
    position: relative;
    display: grid;
    .display-flex-wrap(flex,12px,space-between);
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    .grid-gap(12px);
  }
  &__col{
    .display-flex-item(2,12px);
    position: relative;
    &.checkbox{
      grid-column: 1/ span 2;
      grid-row: 3;

      label{
        font-size: 13px;
        color: #FFFFFF;
      }
    }
  }
  &__dropdown-field{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    height: 46px;
    padding: 0 13px 0 16px;
    overflow: hidden;
    &:after{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      z-index: 2;
      content: "";
      display: block;
      width: 32%;
      height: 90%;
      background: -moz-linear-gradient(left, rgba(255,255,255,0.22) 0%, rgba(255,255,255,1) 27%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 68%, rgba(255,255,255,1) 100%);
      background: -webkit-linear-gradient(left, rgba(255,255,255,0.22) 0%,rgba(255,255,255,1) 27%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 68%,rgba(255,255,255,1) 100%);
      background: linear-gradient(to right, rgba(255,255,255,0.22) 0%,rgba(255,255,255,1) 27%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 68%,rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38ffffff', endColorstr='#ffffff',GradientType=1 );
    }
    p{
      text-transform: capitalize;
      position: absolute;
      z-index: 1;
      font-size: 15px;
      color: #CFCFCF;
      white-space:nowrap;
      &.active{
        color: #000000;
      }
    }
  }
  &__input-hidden{
    //position: absolute;
    //background-color: transparent;
    left: 0;
    top: 0;
  }

  &__type-good{
    grid-column: 1/ span 2;
    grid-row: 1;

  }
  &__arrival-time{
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__textarea{
    width: 100%;
    min-height: 80px;
    background-color: #FFFFFF;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 15px;
    border: none;
    &:-moz-placeholder { color: #CFCFCF; }
    &::-webkit-input-placeholder { color: #CFCFCF; }
  }

}
.adress{
  &:not(:first-child){
    margin-top: 4px;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 13px;
  background-color: #4B4B4F;
  &__mark{
    color: #CFCFCF;
    font-size: 15px;
    display: flex;
    &:before{
      margin-right: 9px;
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 4px solid #FFFFFF;
      box-sizing: border-box;
    }
    &.active{
      &:before{
        border: 4px solid #EF483E;
      }
    }
  }
  &__status{
    opacity: 0.3;
    padding: 5px 15px;
    background-color: #717174;
    border-radius: 2px;
    p{
      color: #FFFFFF;
      font-size: 13px;
      text-transform: uppercase;
    }

  }
  &.active{
    .adress__mark{
      &:before{
        border: 4px solid #EF483E;
      }
    }
    .adress__status{
      opacity: 1;
    }

  }
}
.check-mark{
  position: relative;
  z-index: 10;
  margin-left: auto;
  width: 8px;
  height: 5px;
  background: url("../img/arrow.png")center no-repeat;
  transition-duration: .3s;
  &.active{
    transform: rotate(180deg);
  }
}
.dropdown-list{
  overflow: hidden;
  width: 100%;
  position: absolute;
  z-index: 15;
  background-color: #fff;
  max-height: 0;
  transition: max-height .3s ease;
  &.active{
    //height: max-content;
  }
  &__item{
    cursor: pointer;
    padding: 5px 10px 5px 16px;
    &:hover{
      background-color: #EF483E;
      p{
        color: #FFFFFF;

      }
    }
    p{
      color: #000000;
      text-transform: capitalize;
      font-size: 14px;
    }
  }
}


.checkbox input[type="checkbox"] {
  opacity: 0;
}
.checkbox label {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding-left: 39px;
}
.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";
  display: inline-block;
}
.checkbox label::before {
  height: 24px;
  width: 24px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  left: 2px;
  top: -6px;
}
/*Checkmark of the fake checkbox*/
.checkbox label::after {
  height: 5px;
  width: 9px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
  left: 8px;
  top: 1px;
}
/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
  content: none;
}
/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}
.checkbox input[type="checkbox"]:checked + label::before {
  content: "";
  background-color: #EF483E;
  border: 1px solid #EF483E;
}
/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type="checkbox"]:focus + label::before {
  outline: none;
}
.temperature-regime{
  display: none;
  &.active{
    display: block;
  }
}
.information{
  position: absolute;
  top: 0;
  right: 0;
  &__body{
    position: fixed;
    transform: translateX(5%);
    width: 100%;
    max-width: 356px;
    padding: 24px;
    background: #4B4B4F;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    p{
      color: #FFFFFF;
      font-size: 15px;
      line-height: 18px;
    }
  }


}
